{
  "openapi": "3.0.3",
  "info": {
    "title": "Stratumn API",
    "description": "This is the API reference for Stratumn API",
    "contact": {
      "email": "admin@stratumn.com"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.stratumn.com/v2"
    }
  ],
  "tags": [
    {
      "name": "Authentification",
      "description": "Authentificate with Stratumn to interact with the APIs"
    },
    {
      "name": "Trace",
      "description": "Create traces, get their state and update them"
    }
  ],
  "paths": {
    "/login/credentials": {
      "post": {
        "tags": ["Authentification"],
        "summary": "Get a Stratumn token from email & password",
        "description": "Get a Stratumn token from email & password",
        "operationId": "login_credential",
        "requestBody": {
          "description": "The email and password of the account you want to login with",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "user@test.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "secured_password123"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "example": "the bearer token here"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/traces": {
      "post": {
        "tags": ["Trace"],
        "summary": "Create a new trace",
        "description": "Create a new instance of your process, called a trace",
        "operationId": "createTrace",
        "requestBody": {
          "description": "The body required to create a trace on an workflow. 4 keys are reserved for the creation of the trace (`traceInput`, `workflowId`, `groupLabel` and `actionKey`), all the other keys can be used to upload file to the trace.",
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "traceInput": {
                    "type": "string",
                    "example": "{'name':'paul'}"
                  },
                  "workflowId": {
                    "type": "string",
                    "example": "99"
                  },
                  "groupLabel": {
                    "type": "string"
                  },
                  "actionKey": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "the uuid of the created trace"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
